@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    height: 100vh;
    
}

.container {
    background-color: hsl(0, 0%, 12%);
    
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    align-items: center;

    padding: 25px;
    border-radius: 15px;
}


.avatar{
    border-radius: 100px;
    margin: 20px;
}


.name {
    margin: 0;
    font-size: 28px ;
    font-weight: 400;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
}

.paragraph {
    font-size: 1rem;
}

.button-list {
    width: 360px;
    padding: 0;
    margin: auto;
    list-style-type: none;
}

.button-list a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 15px;
    padding: 15px;
    background-color:hsl(0, 0%, 20%);
    border-radius: 10px;
    font-weight: 700;
    transition: background 0.25s ease, color 0.25s ease; /*define quais elementos vao ter transição, o tempo e o estilo de transição*/
}

.button-list a:hover {
    /*define a cor de fundo e texto da transição*/
    color:hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);

}
.attribution {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

