@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(221, 100%, 96%);
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 20px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 400px;
  background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: 20px;
}




.attribution {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}