@import url("https://fonts.google.com/specimen/Figtree");

body {
    display: flex;
    flex-direction: column; /*coloca as divs em colunas */
    align-items: center; /*centraliza container e atribuition horizoltamente*/
    justify-content: center; /*centraliza container e atribuition verticalmente*/
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    margin: 0;
    font-family: 'Figtree', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 1px;
    box-shadow: 7px 7px 0px hsl(0, 0%, 0%);
    max-width: 330px;
    padding: 20px;
}

.ilustration {
    border-radius: 10px;
}

.type {
    background-color: hsl(47, 88%, 63%);
    padding: 5px 10px;
    border-radius: 3px;
    margin: 20px 0 15px;
}

.date {
    font-size: 12px;
    margin: 0;
}

.title {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 15px;
}
.paragraph {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    margin: 0 0 15px;
}

.autor-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.autor {
  font-weight: bold;
  font-size: 15px;
  margin: 0 8px;
}

.attribution {
   position: fixed; /*fixa a posição na tela*/
   bottom: 15px; /*define a distancia entre o final da tela (precisa ter se nao o objeto nao fixa no final da tela)*/
   left: 50%; /*move o inicio da div para o meio da tela*/
   transform: translateX(-50%); /*move o inicio da div para o meio da tela*/
   font-size: 13px;
   color: hsl(0, 0%, 30%);
}

