@import url(https://fonts.google.com/specimen/Outfit);

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center; /* Alinha no eixo X */
    align-items: center; /* Alinha no eixo Y */
    height: 100vh; /* Define o tamanho do body para 100% da tela */
    margin: 0; 
    
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 275px;
    padding: 15px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 15px  rgb(0, 0, 0, 0.1);
}

.container img {
    border-radius: 10px;
}
.container h2 {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    max-width: 270px;
    margin: 20px auto;
}
.container p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    max-width: 265px;
    margin: 0 auto; /*centraliza o texto ao utilizar margens iguais dos dois lados*/
    margin-bottom: 25px;
}

.attribution {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: hsl(0, 0%, 30%);
}
