@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: hsl(217, 54%, 11%);
    font-family: Outfit, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.279);
}

#equilibrium-image {
    border-radius: 10px;
    align-self: center;
    width: 300px; 
    height: 300px;
}

#title {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 1.125rem;
    max-width: 290px;
    margin: 0   ;
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ethereum {
    display: flex;
    flex-direction: row;
    align-items: center;   
    margin: 20px 0;
}

#eth {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 1rem;
    margin-left: 5px;
}

#time{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#clock {
    color:  hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 1rem;
    margin-left: 5px;
}